.ImageGrid{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 40px;
    width: 100%;
    justify-content: center;
    min-height: 60vh;
    max-height: 90vh;
    padding-bottom: 10vh;
}
.Image{
    margin: 15px 15px;
    width: 250px;
    height: 250px;
    box-shadow: 3px 2px 2px rgb(207, 204, 200);
    background-color: white;
    padding: 3px;
}
